[*.cs]

# Default severity for analyzer diagnostics with category 'CodeQuality'
dotnet_analyzer_diagnostic.category-CodeQuality.severity = silent

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = silent

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = discard_variable
